:root 
{
    --primary-color: #fff;
    --secondary-color: #0055ffd5;
    --tertiary-color: #231F20;
    --quaternary-color: #CCC;
    --quinary-color: #D9E5F3;
    --error-color: #db2121;
    --success-color: #32be32;
} 