/* --------------- */
/* Dashbaord Events */
/* --------------- */

.events-container {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    margin-top: 2rem;
}

.event {
    display: flex;
    flex-direction: column;
    width: 21.8125rem;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.8125rem;
    box-shadow: 0px 4px 18px -6px var(--tertiary-color);
    background-color: var(--primary-color);
    z-index: 1000;
}

.btn-container {
    display: flex;
    gap: 2rem;
}

.btn-logout {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 0.6875rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}