/* --------- */
/* Wave svg */
/* -------- */
.wave-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}    

.wave {
    width: 100%;
    height: 100%;
}

#wave2 {
    transform: rotate(9.289deg);
    width: 100%;
    height: 100%;
}

/* --------------- */
/* SVG at the bottom over the waves */
.bottom-svg {
    position: absolute;
    bottom: 10%;
    right: 30%;
    width: 100%;
    /* z-index: 200; */
    height: 12.5rem;
}

/* SVG at the top right corner */
.top-right-svg {
    position: absolute;
    top: 60%;
    right: 20%;
    width: 100%;
    /* z-index: 200; */
    height: 12.5rem;
}
